fade-in-right {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

.hover-scale:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}